header{
    justify-content: center;
    position: static;
}
input,select,textarea{
    outline: none;
    width: 70%;
    font-size: large;
}
section.flex{
    flex-direction: column;
}
main{
    display: flex;
    justify-content: center;
}
label{
    margin-bottom: 1%;
    display: flex;
    justify-content: space-between;
}
::-webkit-file-upload-button,button{
    padding: 1% 2%;
    font-size: medium;
}
::-webkit-file-upload-button{
    padding: 2%;
}
input[type=submit],.button{
    width: 100%;
    font-size: larger;
}
input[type=submit]:hover{
    background: green;
}
form h3{
    text-align: center;
    margin: 0;
}
form{
    padding: 1%;
    border: solid 1px green;
    margin: 0 .3%;
}
.secret{
    text-align: center;
    padding: 10%;
    font-size: xx-large;
    display: none;
}
#img{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
form a{
    text-align: center;
    text-decoration: none;
    color: var(--green);
}
h4{
    margin-bottom: 1%;
}
textarea{
    height: 100px;
    resize: none;
    text-align: justify;
}
h5{
    margin: 0;
}
section{
    width: 25%;
}
section form{
    padding: 3%;
    margin-bottom: 1%;
}
table,td{
    border-collapse: collapse;
    border: solid 1px var(--green);
}
th{
    color: white;
    background-color: var(--green);
    padding: .1%;
    border:solid 1px white;
}
table{margin:1%}
@media screen and (max-width: 600px){
    main{
        display: none;
    }
    header{
        text-align: center;
        padding: 10%;
    }
    .secret{
        display: block;
        margin: 50% 0;
    }
    footer{
        padding: 5%;
        font-size: larger;
    }
}